<!DOCTYPE html>
<html>
<head>
	<title>testVue</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="testVue.css">
</head>

<body>
	<!-- v-model -->
	<!--这是我们的View-->
	<div id="app">
	    <p>{{ message }}</p>
	    <h1>{{ message2 }}</h1>
	    <input type="text" v-model="message"/>
		<input type="text" v-model="message2"/>
	</div>
	<div id = "test">
		<p>{{ testDetail }}</p>
		<input type="text" v-model="testDetail"/>
		<select v-model = "testDetail">
			<option value="js" default>js</option>
			<option value="html">html</option>
			<option value="css">css</option>
		</select>
	</div>
	<!-- v-if -->
	<div id = "_if">
        <h1 v-if="yes">Yes!</h1>
        <h1 v-if="no">No!</h1>
        <h1 v-if="age >= 25">年龄大于等于25: {{ age }}</h1>
        <h1 v-else>年龄小于25: {{ age }}</h1>
        <h1 v-if="name.indexOf('jack') >= 0">Name: {{ name }}</h1>
	</div>
    <div id="_show">
        <h1 v-show="yes">Yes!</h1>
        <h1 v-show="no">No!</h1>
        <h1 v-show="age >= 25">Age: {{ age }}</h1>
        <h1 v-show="name.indexOf('jack') >= 0">Name: {{ name }}</h1>
        <h1 v-show="sex == male">性别：{{sex}} </h1>
        <p v-else>性别：{{sex}}</p> <!-- 标签不一样的时候与后边的一样 -->
    </div>

    <div id="_for">
        <table>
            <thead> <!-- 表头 -->
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Sex</th>
                </tr>
            </thead>
            <tbody>  <!-- 表格主体内容 -->
                <tr v-for="person in people"> 
                    <td>{{ person.name  }}</td>
                    <td>{{ person.age  }}</td>
                    <td>{{ person.sex  }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 高亮当前页。添加属性 -->
    <div id="_bind">
        <ul class="pagination">
            <li v-for="n in pageCount">
                <a href="javascripit:void(0)" v-bind:class="activeNumber === n + 1 ? 'active' : ''">{{ n + 1 }}</a>
            </li>
        </ul>
    </div>
    <!-- 绑定事件 -->
    <div id="_on">
        <p><input type="text" v-model="message"></p>
        <p>
            <!--click事件直接绑定一个方法-->
            <button v-on:click="greet">Greet</button>
        </p>
        <p>
            <!--click事件使用内联语句-->
            <button v-on:click="say('Hi')">Hi</button>
        </p>
    </div>
    <!-- 综合案例 -->
	<div id="_complete">
        <fieldset>
            <legend>Create New Person</legend>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" v-model="newPerson.name"/>
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input type="text" v-model="newPerson.age"/>
            </div>
            <div class="form-group">
                <label>Sex:</label>
                <select v-model="newPerson.sex">
                	<option value="Male">Male</option>
                	<option value="Female">Female</option>
            	</select>
            </div>
            <div class="form-group">
                <label></label>
                <button @click="createPerson">Create</button>
            </div>
    	</fieldset>
	<table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="person in people">
                <td  @click="detail($index)">{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.sex }}</td>
                <!-- 这里的$index是对象的内置属性 -->
                <td :class="'text-center'"><button @click="deletePerson($index)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>

</body>
    <script src="vue/dist/vue.js"></script>
    <script>
        // 这是我们的Model, 这里的model是一个全局的变量，可以在控制台上来控制里边的属性。
        var exampleData = {
            message: 'Hello World!',
            message2: 'nihao shijie!'
        };
        var testData = {
        	testDetai:"testSelect"
        };
        // 创建一个 Vue 实例或 "ViewModel"
        // 它连接 View 与 Model
        new Vue({
            el: '#app',
            data: exampleData
        });

        new Vue({
        	el: '#test',
        	data: testData
        });
        /**
         * 使用Vue的过程就是定义MVVM各个组成部分的过程的过程。
			1、定义View
			2、定义Model
			3、创建一个Vue实例或"ViewModel"，它用于连接View和Model
			在创建Vue实例时，需要传入一个选项对象，选项对象可以包含数据、挂载元素、方法、模生命周期钩子等等。

			在这个示例中，选项对象的el属性指向View，el: '#app'表示该Vue实例将挂载到<div id="app">...</div>这个元素；data属性指向Model，data: exampleData表示我们的Model是exampleData对象。
			Vue.js有多种数据绑定的语法，最基础的形式是文本插值，使用一对大括号语法，在运行时{{ message }}会被数据对象的message属性替换，所以页面上会输出"Hello World!"。
         */        
        var vm_if = new Vue({
            el: '#_if',
            data: {
                yes: true,
                no: false,
                age: 28,
                name: 'keepfool'
            }
        });
  		// vm_if.age = 24
		// 24
		// vm_if.age = 25
		// 25
        var vm_show = new Vue({
            el: '#_show',
            data: {
                yes: true,
                no: false,
                age: 28,
                name: 'keepfool',
                sex:'male'
            }
        });
        var vm_for = new Vue({
            el: '#_for',
            data: {
                people: [{    //在data中定义对象属性-->数组
                    name: 'Jack',
                    age: 30,
                    sex: 'Male'
                }, {
                    name: 'Bill',
                    age: 26,
                    sex: 'Male'
                }, {
                    name: 'Tracy',
                    age: 22,
                    sex: 'Female'
                }, {
                    name: 'Chris',
                    age: 36,
                    sex: 'Male'
                }]
            }
        });
        var vm_bind = new Vue({
            el: '#_bind',
            data: {
                activeNumber: 2,  //更改activity的值以使当前的活动对象改变
                pageCount: 10
            }
        });
        var vm_on = new Vue({
            el: '#_on',
            data: {
                message: 'Hello, Vue.js!'
            },
            // 在 `methods` 对象中定义方法,自定义函数处理回调方法
            methods: {
                greet: function() {
                    // // 方法内 `this` 指向 vm
                    alert(this.message)
                },
                say: function(msg) {
                    alert(this.message + "    "+msg)
                }
            }
        });
        // 综合案例
        var vm_complete = new Vue({
            el: '#_complete',
            data: {
                newPerson: {
                    name: '',
                    age: 0,
                    sex: 'Male'
                },
                people: [{
                    name: 'Jack',
                    age: 30,
                    sex: 'Male'
                }, {
                    name: 'Bill',
                    age: 26,
                    sex: 'Male'
                }, {
                    name: 'Tracy',
                    age: 22,
                    sex: 'Female'
                }, {
                    name: 'Chris',
                    age: 36,
                    sex: 'Male'
                }]
            },
            methods:{
                createPerson: function(){
                    this.people.push(this.newPerson);
                    // 添加完newPerson对象后，重置newPerson对象
                    this.newPerson = {name: '', age: 0, sex: 'Male'}   //重置输入框
                },
                deletePerson: function(index){
                    // 删一个数组元素
                    this.people.splice(index,1);
                },
                detail:function(arg){//打印当前对象
                	console.log(event);
                	console.log(arg);
                	console.log(this);
                }
            }
        })
    </script>
</html>